/* Importando a fonte Montserrat*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    
    font-family: 'Montserrat', sans-serif;

    /* Cores Utilizadas */

    --azul-escuro: #223649;
    --azul-claro: #375675;
    --rosa-escuro: #FD499A;
    --rosa-claro: #FF8FC1;
    --branco-puro: #FFF;

    /* Tamanhos de textos */

    --titulos: 10rem;
}

/* Header */

header{
    background-color: #0c1824;
    height: 100px;
    width: 100vw;
}
#elementos-header{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -16%;
    position: relative;
    right: 26em;
}
#botao-entrar{
    background-color: #0c1824 ;
    border: 2px solid #fc98c1;
    color: white;
}
#botao-entrar:hover{
    background-color: #a22c61;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#logo{
    scale: 15%;
}
#barra-pesquisa{
    background-color:rgb(25, 48, 71);
    border: 2px solid #fd499a;
    border-radius: 10px;
    padding: 12px;
    width: 35em;
    position: relative;
    right: 25%;
}
#icones-header{
    display: flex;
    justify-content: space-between;
    gap: 80%;
    position: relative;
    right: 20%;
    scale: 95%;
}
#configuracao{
    position: relative;
    right: 7.5em;
    margin-right: 3em;
}
#barra-pesquisa::placeholder{
    color: #b3c2d8e8;
    font-size: 1.1rem;
}
.botao-header{
    padding: 12px;
    width: 7em;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    position: relative;
}
#botao-entrar{
    background-color: #fd499a;
    border: #fd499a;
    cursor: pointer;
}
#botao-contato{
    background-color: #fff;
    color: #123;
    margin-right: 15px ;
    cursor: pointer;
    border: none;
}
#botao-contato:hover{
    background-color: rgb(126, 164, 203);
}
#lupa{
    position: relative;
    right: 10%;
    top: 2vh;
    scale: 90%;
}

.paginaSobre {
    cursor: pointer;
    position: relative;
    font-size: 1.2rem;
    margin-right: 0.75vw;
    right: 200px;
    transition: 0.3s ease;
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.paginaSobre:hover{
    color: #fc98c1;
}
.paginaSobre{
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
}

body{
    background-color: var(--azul-escuro);
    margin: 0;
    padding: 0;
    top: 0;
    overflow-x: hidden;
}
img{
    user-select: none; 
    -webkit-user-drag: none; 
}

/* Primeira Seção */

.secao1{
    background: linear-gradient(var(--azul-escuro), rgba(255, 143, 193, 0.5));
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 15vw;
}
.container-texto{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 10vw;
}
#saudacoes{
    color: var(--rosa-escuro);
    font-size: 3rem;
    margin: 0;
}
#nome{
    color: var(--rosa-claro);
    font-size: 4rem;
    margin: 0;
}
.descricao{
    color: var(--branco-puro);
    font-size: 2rem;
    line-height: 2rem;
}

#icones-redes{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}
#icone-github{
    scale: 1.2;
    cursor: pointer;
}

.foto-container {
    position: relative;
    bottom: 5vh;
}
  
#fundo-rosa {
    height: 62vh;
    width: 24vw;
    background-color: var(--rosa-claro);
    border-radius: 20px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#foto-bellatica {
    position: absolute;
    top: 4vh;
    left: 2vw;
    height: 62vh;
    width: 24vw;
    background-image: url("assets/imagens/isabelly.svg");
    background-size: cover;
    background-position: center;
    border: 5px solid var(--rosa-escuro);
    border-radius: 20px;
    z-index: 2;
}

/* Segunda Seção */

.secao2{
    background-color: var(--azul-escuro);
    height: 100vh;
    width: 100vw;
}
.titulo{
    color: var(--rosa-claro);
    font-size: 3.5rem;
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 12vh;
}
#quadro-curiosidades{
    background: linear-gradient(to right, rgba(253, 73, 154, 0.8), var(--azul-escuro));
    margin: 0 auto;
    width: 70vw;
    height: 55vh;
    padding: 5%;
    padding-right: 10%;
    color: var(--branco-puro);
    display: flex;
    gap: 4vw;
}
.curiosidade{
    font-size: 2rem;
    margin-bottom: 6vh;
    padding-bottom: 2vh;
    width: 60%;
    font-weight: 500;
    border-bottom: 3px solid var(--branco-puro);
}
#fotos-curiosidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 10vw;
}
.foto-curiosidade{
    height: 40vh;
    width: 14vw;
    border-radius: 15px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}
#muaythai{
    background-image: url("imagens/muay-thai.svg");
    border: 6px solid var(--rosa-escuro);
}
#caipirinha{
    background-image: url("imagens/caipirinha.svg");
    border: 6px solid var(--branco-puro);
    position: relative;
    bottom: 18vh;
}
#guitarra{
    background-image: url("imagens/guitarra.svg");
    border: 6px solid var(--rosa-claro);
}
#primeira-fila{
    display: flex;
    gap: 1vw;
}

/* Seção 3 */

.secao3{
    height: 100vh;
    width: 100vw;
}
#lugar-visitado{
    width: 50%;
    margin: 0;
}
#subtitulo{
    color: var(--branco-puro);
    font-size: 2.5rem;
    margin: 0;
}
#container-lugar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    margin-top: 15vh;
    background: linear-gradient(var(--azul-escuro), var(--azul-claro));
    border: 6px solid var(--rosa-claro);
    width: 80vw;
    margin: 0 auto;
    border-radius: 15px;
    height: 80vh;
}
#lugar{
    width: 22vw;
    height: 60vh;
    border-radius: 15px;
    border: 8px solid var(--rosa-escuro);
    background-image: url("imagens/natal.svg");
    background-size: cover;
    background-position: center;
}

/* Seção 4 */

.secao4{
    height: 100vh;
    width: 100vw;
}
#container-lugares {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3vw;
  }
  
.lugares {
    background-color: var(--rosa-escuro);
    border-radius: 10px;
    width: 18vw;
    height: 55vh;
    box-shadow: 0px 6px 15px rgba(88, 11, 39, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}
  
.lugares img {
    width: 95%;
    height: 80%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 7px solid var(--rosa-claro);
}
  
.lugares p {
    margin: 0;
    padding: 12px 0;
    font-weight: 600;
    color: white;
    font-size: 1.6rem;
}
  
.lugares:hover {
    transform: translateY(-8px);
    box-shadow: 0px 12px 20px rgba(255, 143, 193, 0.3);
}