:root {
    --main_color: #D62828;
    --secundary_color: #1D1D1D;
    --white: #F5F5F5;
    --gray: #8C8C8C;
    --black: #3A3A3A;
}


* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--main_color);
}


h1, h2, h3, h4, h5, h6, p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}


header {
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: var(--main_color);
}


header ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    font-size: 2rem;
}

header ul li a {
    background-color: var(--black);
    padding: 10px;
    text-decoration: none;
    color: var(--main_color);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--main_color);
}

footer p {
    text-align: center;
    padding: 20px;
}


main section {
    background-color: var(--secundary_color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section div h1,
main section div h2 {
    color: var(--main_color);
    font-size: 2rem;
    text-align: center;
    padding-top: 20px;
}

main section div div {
    margin-top: 50px;
    background-color: var(--white);
    width: 1000px;
    margin-bottom: 50px;
}

main section div div p {
    line-height: 2.5;
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
    color: var(--black);
}

main section div div ol,
main section div div ol h1 {
    color: var(--black);
    text-align: center;
    list-style-position: inside;
    line-height: 2.5;
}

main section div div ul,
main section div div ul h1 {
    color: var(--black);
    text-align: center;
    list-style-position: inside;
    line-height: 2.5;
}